monCv/.vs/monCv/v15/Server/sqlite3/storage.ide-wal
monCv/.vs/monCv/v15/Server/sqlite3/storage.ide-shm
monCv/.vs/monCv/v15/Server/sqlite3/storage.ide
monCv/.vs/monCv/v15/Server/sqlite3/db.lock
monCv/.vs/monCv/v15/.suo
monCv/.vs/monCv/DesignTimeBuild/.dtbcache
monCv/.vs/config/applicationhost.config
